# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.h text
*.c text
*.cpp text
*.ld text
*.txt text
*.md text
*.bat text
*.template text
*.cmake text

# Declare files that will always have CRLF line endings on checkout.
*.project text eol=crlf
*.cproject text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.a binary
*.lib binary
*.exe binary
*.axf binary
*.elf binary
*.hex binary
*.bin binary
